{% extends 'base.html' %}

{% block content %}

<div class="col-md-10">
  <div class="row border-bottom mb-4">
      <h2 class="font-weight-bold">New Question</h2>
  </div>
  <form>
    <div class="form-group row">
      <label for="inputTitle" class="col-md-1 col-form-label">Title:</label>
      <div class="col-md-10">
        <input type="text" maxlength=200 class="form-control is-invalid" placeholder="Enter a title">
        <div class="invalid-feedback">
          Please enter a title
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="comment" class="col-md-1 col-form-label">Question:</label>
      <div class="col-md-10">
        <textarea style="resize:none;" maxlength=1500 class="form-control is-invalid" rows="8" placeholder="Enter a question"></textarea>
          <div class="invalid-feedback">
            Please enter a question
          </div>
        </div>
      </div>
    <div class="form-group row">
      <label for="inputTags" class="col-md-1 col-form-label">Tags:</label>
      <div class="col-md-10">
        <input type="text" maxlength=200 class="form-control is-invalid"placeholder="Add tags">
        <div class="invalid-feedback">
          Please add tags
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-md-1"></div>
      <button class="btn btn-default ml-3" type="submit">Ask!</button>
    </div>
  </form>
</div>

{% endblock %}