<div class="row justify-content-center pag">
  <ul class="pagination">
    <li class="page-item"><a class="page-link mb-3 text-muted" href="#">Previous</a></li>
    <li class="page-item"><a class="page-link mb-3 text-muted" href="#">1</a></li>
    <li class="page-item"><a class="page-link mb-3 text-muted" href="#">2</a></li>
    <li class="page-item"><a class="page-link mb-3 text-muted" href="#">3</a></li>
    <li class="page-item"><a class="page-link mb-3 text-muted" href="#">Next</a></li>
  </ul>
</div>