{% extends 'base.html' %}

{% block content %}

<div class="col-md-10">
  <div class="row border-bottom mb-4">
    <div class="col-md-8">
      <h3 class="font-weight-bold">
        <span class="mr-2">Settings: </span>
        <span>Nickname</span>
      </h3>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputLogin" class="col-md-2 col-form-label">Login:</label>
    <div class="col-md-4">
      <input type="text" class="form-control is-invalid" placeholder="Dr. Pepper">
      <div class="invalid-feedback">
          That login has already been registered
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputEmail" class="col-md-2 col-form-label">Email:</label>
    <div class="col-md-4">
      <input type="text" class="form-control is-invalid" placeholder="drpepper@gmail.com">
      <div class="invalid-feedback">
        That mail has already been registered
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="inputNickname" class="col-md-2 col-form-label">Nickname:</label>
    <div class="col-md-4">
      <input type="text" class="form-control" placeholder="Pepper">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputTitle" class="col-md-2 col-form-label">Choose avatar:</label>
    <div class="col-md-4">
      <input type="file" class="form-control-file" id="exampleFormControlFile1">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputTitle" class="col-md-2 col-form-label"></label>
    <div class="col-md-4">
      <button class="btn btn-default" type="submit">Save!</button>
    </div>
  </div>
</div>

{% endblock %}